.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f7f7f7;
    min-height: 100vh;
    
}

.content {
    background: #ffffff;
    padding: 100px 20px;
    position: relative;
    height: 100%;
    margin-top: 40px;
    z-index: 1000;
}

